.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-div {
  width: 1000px;
  height: 70px;
  background-color: burlywood;
  border: 1px;
  border-color: #61dafb;
  float: middle;
  margin: 10px;
  padding: 10px;
}

.title {
  width: 100px;
  height: 30px;
  float: left;
}

.textArea {
  width: 300px;
  height: 30px;
  margin: 10px;
  float: left;
}

.imageContent {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 165, 254);
}

.imageContentCard {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 165, 254);
  text-align: left;
  float: left;
}

.contents {
  width: 600px;
  height: 800px;
  float: middle;
  background-color: rgb(179, 218, 239);
  border: 1px;
  text-align: left;
}

.contents2 {
  width: 300px;
  height: 300px;
  float: left;
  background-color: rgb(255, 218, 239);
  border: 1px;
  text-align: left;
}

.CardProfile {
  width: 150px;
  height: 150px;
  float: left;
  background-color: red;
  border: 1px;
  margin-top: 0px;
  text-align: left;
}

.CardProfile2 {
  width: 300px;
  height: 150px;
  float: left;
  background-color: burlywood;
  border: 1px;
  text-align: left;
}

.button {
  width: 100px;
  height: 30px;
  float: middle;
  background-color: blanchedalmond;
  border: 1px;
}
